@import "../styles/variables";

.Input-quantity{
  display: flex;
  align-items: center;

  .icon{
    font-size: .6rem;
    color: #e76e41;

    &:first-child{
      margin-right: .24rem;
    }

    &:last-child{
      margin-left: .24rem;
    }
  }

  .input-text{
    width: 1rem;
    height: .6rem;
    border: 1px solid $borderColor;
    text-align: center;
  }

  .unit{
    margin-left:.32rem;
  }
}