{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-spacing": 0,
    "id-length": 0,
    "max-len": [2, 120, 4],
    "new-cap": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": [
      1,
      "after-props"
    ],
    "react/jsx-space-before-closing": [2, "never"]
  },
  "globals": {
    "document": false,
    "React": false,
    "Relay": false,
    "logger": false,
    "debug": false,
    "window": false,
    "BMap": false,
    "_": false,
    "wx": false,
    "__APPID__": true,
    "__DEBUG__": false,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__HOST__": true,
    "__SERVER__": true
  }
}